

.map_form{

    background-image: url(/assets/img/fundo_lateral_l.png);
    display: flex;  
    height: 100% ;
    width: 100%;
    background-repeat: no-repeat;
    align-items: center;
    
}


.mapa{
    margin-top: 123px;
    margin-left: 190px;
    height: 480px;
    width: 650px;
    align-content: space-around;
    margin-bottom: 110px;
}

form input,
form select {
width: 280px;
height: 10px;
padding: 8px;
border: 2px solid #ccc;
border-color: var(--azul-escuro);
border-radius: 12px;
font-size: 10px;
margin-bottom: 10px;
margin-left: 5px;
}

#email{
width: 640px;
height: 8px;
padding: 8px;
border: 2px solid #ccc;
border-color: var(--azul-escuro);
border-radius: 12px;
font-size: 10px;
margin-bottom: 10px;
margin-left: 5px;
}

#mensagem{
    width: 692px;
    height: 170px;
    padding: 8px;
    border: 2px solid #ccc;
    border-color: var(--azul-escuro);
    border-radius: 12px;
    font-size: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}

button{
    background-color: var(--azul-medio);
    color: var(--branco);
    border-color: var(--azul-escuro);
    border-radius: 12px;
    padding: 15px 30px;
    font-size: 15px;
   margin-left: 30%;  
}

#formulario{
    margin-left: 45px;
}

